.page {
	.site-content {
		max-width: 1200px;
		float: none;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
		display: block;
	}
}

#page {
	position: relative;
}
.site-content {
	padding-top: 30px;
	padding-bottom: 80px;
}
.main-content {
	width: 100%;
	display: flex;
}

// Product
.sidebar {
	width: 25%;
	padding-right: 45px;
	list-style: none;
	float: left;

	li {
		list-style: none;
	}
}

.site-main {
	position: relative;
	// display: flex;

	@media (max-width: 960px) {
		padding-top: 0;
		text-align: left;
		margin: auto;
	}
}

.page-title {
	text-align: center;
	margin: 0;
	padding: 42px 0 19px 0;
	font-weight: 500;
	font-size: 32px;
}

.category-menu-container {
	margin-bottom: 51px;
	text-align: center;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;

		li {
			display: inline-block;
			padding: 0 17px 10px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-left: 0;
			}

			a {
				font-weight: 500;
			}
		}
	}

	a {
		color: black;
		position: relative;

		&:hover {
			color: #ff6f61;
		}

		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	width: 0;
		// 	height: 1px;
		// 	bottom: -2px;
		// 	left: 0;
		// 	background-color: #FF6F61;
		// 	transition: all 0.5s ;
		// }
	}
}

.post-page-container {
	position: relative;
	width: 100%;

	@media (max-width: 768px) {
		padding-top: 0;
		text-align: left;
		width: 100%;
	}
}

.post-page-col-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -25px;
	margin-right: -25px;

	@media (max-width: 768px) {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.col-post-page {
		width: 50%;
		margin-bottom: 53px;

		@media (max-width: 768px) {
			width: 100%;
		}

		.post {
			padding: 0 25px;
		}
	}
}

.entry-header {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	text-align: center;
	color: var(--color-dark);

	img {
		max-width: 100%;
		height: auto;
	}

	.date-post {
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0%;
		top: 20px;

		p {
			padding: 3px 15px;
			margin: 0;
			font-weight: 500;
			font-size: 11px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.02em;
			text-transform: uppercase;
		}
	}
}

.entry-summary {
	margin: 0;
	display: flex;
	flex-direction: column;

	h4 {
		margin: 0 0 13px;
		font-size: 24px;
		font-weight: 500;
		width: 100%;
	}

	.entry-content {
		margin: 0 0 17px;

		p {
			margin: 0;
			color: var(--text-color-gray);
		}
	}

	.button-normal {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		float: left;
		display: flex;
		align-items: center;
		gap: 0.5rem;

		&:hover svg {
			transform: translateX(20%);
			transition: 0.5s;
		}

		svg {
			width: 14px;
			height: 14px;
			display: flex;
			align-items: center;
		}
	}
}

.page-number-link {
	text-align: center;

	.page-numbers {
		padding: 10px;
	}

	.current {
		border: 1px solid var(--border-color-dark);
		padding: 0 20px;
	}
}

.single-page-content {
	position: relative;
	width: 85%;
	margin: auto;
}
.header-single {
	text-align: center;
	margin-bottom: 70px;
	.entry-title {
		font-size: 48px;
		margin: 0 0 13px;
		font-weight: 500;
	}
	.author-date-post {
		text-align: center;
	}
	.post-thumbnail {
		margin-top: 70px;
	}
}

.content-post-container {
	margin: auto;
	margin-top: 3rem;
	padding-bottom: 80px;
}

.hashtag-keyword-post {
	padding-top: 30px;

	.rz-post-tag {
		display: flex;
		justify-content: center;
		column-gap: 20px;

		a {
			border: 1px solid var(--border-color-gray);
			padding: 9px 21px;
			font-size: 14px;
			margin: 4px 2px;
		}
	}
}

.social-share-post {
	margin-top: 18.5px;
	display: flex;
	justify-content: center;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 32px;
		margin: 7.5px;
		color: var(--color-lighter);
	}

	.social-share-link {
		&.facebook {
			background-color: #475a96;
		}
		&.twitter {
			background-color: #49b2e8;
		}
		&.googleplus {
			background-color: #d74047;
		}
		&.instagram {
			background-color: #0d76b4;
		}
	}
}

.related-posts {
	margin-bottom: 50px;

	.title-related-posts {
		text-align: center;
		align-items: center;
		font-weight: 500;
		font-size: 32px;
		line-height: 44px;
		margin: 0 0 57px;
	}

	.related-posts-list {
		margin-left: auto;
		margin-right: auto;
	}
}

.related-posts-content-list {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: content-box;

	.post {
		width: 33%;
		margin-right: 30px;

		h4 {
			margin: 0 0 13px;
			font-size: 20px;
			font-weight: 500;
			width: 100%;
		}
	}
}
:focus {
	outline: 0;
}
.page-post-found {
	text-align: center;
	margin-top: 11px;
	margin-bottom: 30px;

	.post-inner {
		display: inline-block;
		padding: 10px 50px;
		border-bottom: 2px solid var(--border-color-light);
		position: relative;
		color: #767676;
		font-size: 15px;

		.count-bar {
			position: absolute;
			bottom: -2px;
			left: 0;
			background-color: var(--background-color-dark);
			height: 2px;
		}
	}
}

.load-navigation {
	text-align: center;
	.nav-links {
		a {
			// display: block;
			font-weight: 600;
			padding: 11px 45px;
			border: 1px solid var(--border-color-dark);
			transition: 0.35s;

			&:hover {
				color: var(--color-lighter);
				background-color: var(--color-dark);
			}
		}
	}
}
