.site-header-1-top-box {
	background: #f5f5f5;

	.site-header-1-top {
		display: flex;
		align-items: center;

		.topbar-item-left {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 50px;
			height: 100%;

			.icon-free-shipping {
				margin-right: 14px;
			}

			p {
				font-weight: 500;
				font-size: 11px;
				line-height: 16px;
				letter-spacing: 0.02em;
				text-transform: uppercase;
				justify-content: center;
			}
		}

		.topbar-right-item {
			height: 100%;
			flex: 1;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0%;
			display: flex;
			justify-content: flex-end;

			.social-menu-container {
				height: 100%;
			}

			.nav-menu {
				list-style: none;
				padding: 0;
				display: flex;
				align-items: center;
				margin: 0;
				height: 100%;

				a {
					text-decoration: none;
					padding: 10px 14px 9px;
					font-size: 0px;
					height: 100%;

					&:last-child {
						padding-right: 0;
					}

					&:hover {
						color: #ff6f61;
						&::before {
							color: var(--color-dark);
						}
					}

					&:before {
						color: var(--color-placeholder);
						font-size: 16px;
					}

					&[href*="https://twitter.com/"]:before
					{
						content: "\f099";
						font-family: "FontAwesome";
					}

					&[href="https://www.facebook.com/"]:before
					{
						content: "\f09a";
						font-family: "FontAwesome";
					}

					&[href="https://www.instagram.com/"]:before
					{
						content: "\f16d";
						font-family: "FontAwesome";
					}

					&[href="https://www.pinterest.com/"]:before
					{
						content: "\f231";
						font-family: "FontAwesome";
					}
				}
			}
			li {
				display: inline-block;
			}
		}

		.item-topbar {
			padding: 0 20px;
			height: 100%;
			position: relative;

			span {
				font-weight: 500;
				font-size: 14px;
			}

			&.money-list::after {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				top: 10%;
				transform: translateY(50%);
				width: 1px;
				height: 20px;
				background-color: #cdcdcd;
			}

			&:hover {
				.content-droplist {
					display: block;
				}
			}
			.content-droplist {
				transition: 0.3s;
				position: absolute;
				display: none;
				background-color: #ffffff;
				box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
				z-index: 99;
				min-width: 80px;
				left: 0;
				top: 100%;
				left: 0;
				pointer-events: none;
				text-align: center;

				ul {
					list-style: none;
					padding-left: 0;
					display: flex;
					flex-direction: column;
					margin: 0;
				}

				li {
					border-top: 1px solid #cdcdcd;

					&:first-child {
						border-top: none;
					}

					p {
						margin: 0;
						padding: 8px 15px;
					}
				}
			}

			.dropdown {
				height: inherit;
				.current {
					display: flex;
					align-items: center;
					justify-content: center;
					height: inherit;
				}

				> * {
					height: inherit;
				}

				.rz-icon-svg {
					margin-left: 5px;
				}
			}
		}
	}
}
