.single-product {
	.site-content {
		padding-top: 0px;
	}

	.product-gallery-summary {
		display: flex;
		.woocommerce-product-gallery__wrapper {
			margin: 0;
		}
		.woocommerce-product-gallery {
			position: relative;
			float: left;
			width: 48.7%;

			.flex-control-thumbs {
				margin: 15px 0 0;
				padding: 0;
				display: flex;
				width: 100%;

				li {
					list-style: none;
					width: 102px;
					margin-right: 20px;
				}
			}
			.woocommerce-product-gallery__trigger {
				display: none;
			}
		}
	}

	.entry-summary {
		padding-left: 100px;
		width: 51.3%;

		.summary-top-box {
			display: flex;
			justify-content: space-between;
			margin-bottom: 3px;

			a {
				color: var(--text-color-gray);
			}

			.woocommerce-product-rating {
				display: flex;

				.star-rating {
					font-size: 18px;
					margin-top: 2px;
				}

				.woocommerce-review-link {
					outline: none;
					color: var(--color-dark);
					text-decoration: none;
					padding-left: 10px;
				}
			}
		}

		.entry-title {
			font-size: 32px;
			font-style: normal;
			font-weight: 500;
			line-height: 44px;
			color: var(--color-dark);
			letter-spacing: 0em;
			text-align: left;
			margin: 0 0 11px;
		}

		.price {
			font-size: 24px;
			font-weight: 500;
			color: var(--rz-color-dark);
			margin: 0 0 20px;
			ins {
				text-decoration: none;
				color: var(--color-primary);
			}
			del {
				margin-right: 13px;
				font-size: 18px;
				color: #a0a0a0;
			}
		}

		.woocommerce-product-details__short-description {
			margin-top: 16px;
			margin-bottom: 47px;

			p {
				margin: 0;
			}
		}
		form.cart {
			.variations {
				width: 100%;
				position: relative;

				td {
					display: block;
					margin-bottom: 10px;
					padding: 0;
					border: none;
				}
				td.label {
					color: #111;
				}
				select {
					width: 100%;
					margin-right: 0;
					background-color: transparent;
					padding: 11px 15px 10px;
					text-transform: capitalize;
					cursor: pointer;
					border: 1px solid #d9d9d9;
				}

				.reset_variations {
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			.group_table {
				margin-bottom: 15px;
				width: 100%;

				tr.product {
					padding: 10px 0;
					align-items: center;
					display: flex;

					td {
						padding: 0 10px 0 0;
					}

					.woocommerce-grouped-product-list-item__quantity {
						order: 2;

						.input-text {
							width: 83px;
							height: 50px;
							border: 1px solid var(--border-color-light);
						}
					}

					.woocommerce-grouped-product-list-item__label {
						order: 1;
					}

					.woocommerce-grouped-product-list-item__price {
						text-align: right;
						min-width: 76px;
						order: 3;
					}
				}
			}
		}

		.product-button-wrapper {
			display: flex;
			align-items: center;

			.quantity {
				margin-right: 30px;
				margin-bottom: 15px;

				.input-text {
					width: 83px;
					height: 50px;
					border: 1px solid var(--border-color-light);
				}
			}

			.single_add_to_cart_button {
				margin-right: 20px;
				margin-bottom: 15px;
				border: none;
			}
		}

		.product_meta {
			margin: 20px 0;

			> span {
				display: block;
			}
		}
	}

	.woocommerce-tabs {
		margin: 80px 0 0;

		> .wc-tabs {
			list-style: none;
			padding: 0;
			display: flex;
			justify-content: center;
			border-bottom: 1px solid var(--border-color-light);
			margin: 0;

			> li {
				display: block;
				margin: 0;
				position: relative;
				padding: 0 20px;

				&.active {
					a {
						color: var(--color-primary);

						&::after {
							width: 100%;
							opacity: 1;
						}
					}
				}

				a {
					display: block;
					position: relative;
					font-weight: 500;
					padding: 10px 0;

					&:hover {
						color: var(--color-primary);
					}

					&::after {
						content: "";
						position: absolute;
						bottom: -1px;
						left: 0;
						right: 0;
						width: 0;
						height: 1px;
						background-color: var(--background-color-primary);
						transition: 0.5s;
						opacity: 0;
					}
				}
			}
		}
		.panel {
			max-width: 790px;
			margin: 45px auto 0;
			padding: 0 15px;

			.woocommerce-Reviews {
				.woocommerce-Reviews-title {
					display: none;
				}

				ol.commentlist {
					list-style: none;
					padding-left: 0;

					li {
						border: 1px solid #e5e5e5;
						padding: 40px;
						margin-bottom: 20px;

						.comment_container {
							display: flex;
							justify-content: flex-start;
						}

						img.avatar {
							width: 100px;
							border: none;
							padding: 0;
							border-radius: 50%;
						}

						.comment-text {
							margin: 0 0 0 40px;
							border-radius: 0;
							padding: 0;
							border: none;
							width: 100%;

							.star-rating {
								float: right;
							}

							p.meta {
								display: flex;
								flex-direction: column;
								margin: 0 0 10px;

								.woocommerce-review__dash {
									display: none;
								}

								.woocommerce-review__author {
									order: 2;
								}

								.woocommerce-review__published-date {
									order: 1;
								}
							}
							.description {
								p {
									margin: 0;
								}
							}
						}
					}
				}

				.comment-respond {
					padding: 30px 0 0;
					font-size: 16px;
					margin: 40px auto 0;

					span.required {
						color: red;
					}
					.comment-reply-title {
						text-align: center;
						font-size: 28px;
						font-weight: 500;
						display: block;
						margin-bottom: 20px;
						color: var(--color-darker);
					}

					.comment-form {
						.comment-notes {
							display: block;
							text-align: center;
							margin-bottom: 30px;
						}

						> p {
							margin: 0 0 20px;
						}

						.comment-form-rating {
							margin-top: 60px;
						}

						.comment-form-comment {
							display: flex;
							flex-direction: column;
						}

						.comment-form-author {
							float: left;
							width: 50%;
							padding-right: 15px;

							input {
								width: 100%;
							}
						}

						.comment-form-email {
							float: left;
							width: 50%;
							padding-left: 15px;

							input {
								width: 100%;
							}
						}

						.form-submit {
							.submit {
								min-width: 150px;
							}
						}
					}
				}
			}
		}
	}

	.related {
		margin-top: 50px;
		color: var(--color-dark);

		> h2 {
			font-size: 28px;
			font-weight: 500;
			margin: 0 0 60px;
			text-align: center;
		}

		ul.products {
			width: 100%;
			flex-wrap: nowrap;
			margin: 0;
			box-sizing: border-box;

			li.product {
				width: 270px;
				margin-right: 30px;
				margin-bottom: 0;
				padding: 0;
				&:last-child {
					margin-right: 0;
				}

				.product-summary {
					padding-top: 15px;

					.woocommerce-loop-product__title {
						font-size: 16px;
					}
				}
			}
		}
	}

	.product-share {
		.sharing-icon {
			color: var(--color-dark);
			margin-right: 11px;
		}

		.socials {

			.social-share-link {
				font-size: 16px;
				margin: 0 5px;
				display: inline-block;
				width: 30px;
				height: 30px;
				line-height: 37px;
				text-align: center;
				border-radius: 50%;
				color: var(--color-placeholder);
				background-color: #F5F5F5;

				&:hover{
					color: var(--color-lighter);
					background-color: var(--color-dark);
					transition: 0.35s;
				}
			}
		}

		.after-text {
			display: none;
		}
	}
}
.star-rating {
	position: relative;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;

	.rating-stars {
		display: block;
		line-height: 1;
	}
	.max-rating {
		.rz-icon-svg {
			color: #cdcdcd;
		}
	}
	.user-rating {
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;

		.rz-icon-svg {
			color: var(--color-darker);
		}
	}
}
