/*
Theme Name: Razzii
Author: K
Version: 1.0
*/
/*--------------------------------------------------------------
# Variables-site
--------------------------------------------------------------*/
:root {
  --main-color:#ffffff;
  --color-primary: #FF6F61;
  --color-lighter: #ffffff;
  --color-dark: #111111;
  --color-darker: #1f1f1f;
  --color-placeholder: #A0A0A0;
  --color-hover-primary: #FF6F61;
  --background-color-primary: #FF6F61;
  --background-color-light: #ffffff;
  --background-color-gray: #f5f5f5;
  --background-color-dark: #1F1F1F;
  --background-text-color-primary: #ffffff;
  --border-color: #cccccc;
  --border-color-primary: #FF6F61;
  --border-color-light: #e2e2e2;
  --border-color-lighter: #ffffff;
  --border-color-gray: #cdcdcd;
  --border-color-dark: #1f1f1f;
  --text-color-gray: #767676;
  --text-color: #525252; }

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0; }

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block; }

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent; }

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
* Add the correct font size in all browsers.
*/
small {
  t-size: 80%; }

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  ttom: -0.25em; }

sup {
  p: -0.5em; }

/* Embedded content
	========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  order-style: none; }

/* Forms
	========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  erflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  xt-transform: none; }

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Correct the padding in Firefox.
*/
fieldset {
  adding: 0.35em 0.75em 0.625em; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline; }

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto; }

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block; }

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item; }

/* Misc
	========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none; }

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  --rz-header-color-light: #ffffff;
  --rz-header-color-dark: #111111;
  --rz-header-color-darker: #1f1f1f;
  --rz-header-text-color-gray: #767676;
  --rz-header-background-color-light: #ffffff;
  --rz-header-background-color-dark: #1f1f1f;
  position: relative;
  margin: auto; }
  .site-header .header-1 {
    display: block; }
    .site-header .header-1 .site-header-1-bottom-box {
      width: 100%;
      border-bottom: 1px solid var(--border-color-light); }
      .site-header .header-1 .site-header-1-bottom-box .site-header-1-bottom {
        display: flex;
        height: 90px;
        align-items: center; }
  .site-header .header-2 {
    display: none; }

.header-item {
  display: flex;
  height: 100%;
  align-items: center; }

.header-left-item {
  flex: 1;
  text-align: left;
  justify-content: left;
  margin: 0 -20px; }

.header-center-item {
  text-align: center;
  justify-content: center; }
  .header-center-item > * {
    margin: 0 17px; }

.header-right-item {
  flex: 1;
  text-align: right;
  justify-content: flex-end;
  margin: 0 -10px; }

.header-item > * {
  z-index: 999;
  line-height: 1;
  height: inherit;
  display: flex;
  align-items: center; }

.logo-shop-header {
  padding: 0 20px; }
  .logo-shop-header .site-logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; }

.primary-menu-container {
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%; }
  .primary-menu-container .nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%; }
    .primary-menu-container .nav-menu > li {
      display: flex;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px; }
      .primary-menu-container .nav-menu > li:first-child {
        padding-left: 0; }
      .primary-menu-container .nav-menu > li > a {
        padding: 0 3px;
        white-space: nowrap;
        position: relative; }
        .primary-menu-container .nav-menu > li > a:hover {
          color: var(--background-color-primary); }
        .primary-menu-container .nav-menu > li > a::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          bottom: -2px;
          left: 0;
          background-color: #ff6f61;
          visibility: hidden;
          transition: all 0.5s; }
    .primary-menu-container .nav-menu li {
      height: 100%;
      width: 100%; }
  .primary-menu-container ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
  .primary-menu-container li {
    float: left;
    padding: 0 14px;
    outline: none; }
  .primary-menu-container a {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: 1;
    color: var(--rz-header-color-dark);
    outline: none;
    transition: 0.5s; }

.menu-header-icon-bar {
  text-align: right; }
  .menu-header-icon-bar .menu-header-icon-bar-list {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end; }
    .menu-header-icon-bar .menu-header-icon-bar-list a {
      margin: 0;
      padding: 0 10px; }

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  color: var(--text-color);
  font-style: 16px;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: black; }

.container {
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.rz-icon-svg {
  display: inline-flex; }

.rz-icon-svg svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em; }

.rz-icon-svg img {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  background-color: var(--background-color-dark);
  color: var(--color-lighter);
  padding: 0 37px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: none; }

textarea {
  padding: 15px;
  height: 150px; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: var(--color-dark);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 15px 15px;
  font-size: 16px;
  outline: none; }

select {
  padding: 12px 15px;
  background: url(assets/images/arrow.svg) no-repeat right white;
  background-size: 1em 1em;
  background-position: calc(100% - 10px) calc(1em - 2px);
  -webkit-appearance: none; }

.sticky-header {
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: var(--background-color-light); }

.admin-bar .sticky-header {
  top: 32px; }

.arrow-menu-children {
  position: absolute;
  top: 0;
  right: 0;
  display: flex; }

.flip {
  transform: rotate(180deg); }

.swiper-slide {
  display: none; }

/*--------------------------------------------------------------
# Topbar
--------------------------------------------------------------*/
.site-header-1-top-box {
  background: #f5f5f5; }
  .site-header-1-top-box .site-header-1-top {
    display: flex;
    align-items: center; }
    .site-header-1-top-box .site-header-1-top .topbar-item-left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 50px;
      height: 100%; }
      .site-header-1-top-box .site-header-1-top .topbar-item-left .icon-free-shipping {
        margin-right: 14px; }
      .site-header-1-top-box .site-header-1-top .topbar-item-left p {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        justify-content: center; }
    .site-header-1-top-box .site-header-1-top .topbar-right-item {
      height: 100%;
      flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
      display: flex;
      justify-content: flex-end; }
      .site-header-1-top-box .site-header-1-top .topbar-right-item .social-menu-container {
        height: 100%; }
      .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%; }
        .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a {
          text-decoration: none;
          padding: 10px 14px 9px;
          font-size: 0px;
          height: 100%; }
          .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a:last-child {
            padding-right: 0; }
          .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a:hover {
            color: #ff6f61; }
            .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a:hover::before {
              color: var(--color-dark); }
          .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a:before {
            color: var(--color-placeholder);
            font-size: 16px; }
          .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a[href*="https://twitter.com/"]:before {
            content: "\f099";
            font-family: "FontAwesome"; }
          .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a[href="https://www.facebook.com/"]:before {
            content: "\f09a";
            font-family: "FontAwesome"; }
          .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a[href="https://www.instagram.com/"]:before {
            content: "\f16d";
            font-family: "FontAwesome"; }
          .site-header-1-top-box .site-header-1-top .topbar-right-item .nav-menu a[href="https://www.pinterest.com/"]:before {
            content: "\f231";
            font-family: "FontAwesome"; }
      .site-header-1-top-box .site-header-1-top .topbar-right-item li {
        display: inline-block; }
    .site-header-1-top-box .site-header-1-top .item-topbar {
      padding: 0 20px;
      height: 100%;
      position: relative; }
      .site-header-1-top-box .site-header-1-top .item-topbar span {
        font-weight: 500;
        font-size: 14px; }
      .site-header-1-top-box .site-header-1-top .item-topbar.money-list::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 10%;
        transform: translateY(50%);
        width: 1px;
        height: 20px;
        background-color: #cdcdcd; }
      .site-header-1-top-box .site-header-1-top .item-topbar:hover .content-droplist {
        display: block; }
      .site-header-1-top-box .site-header-1-top .item-topbar .content-droplist {
        transition: 0.3s;
        position: absolute;
        display: none;
        background-color: #ffffff;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
        z-index: 99;
        min-width: 80px;
        left: 0;
        top: 100%;
        left: 0;
        pointer-events: none;
        text-align: center; }
        .site-header-1-top-box .site-header-1-top .item-topbar .content-droplist ul {
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-direction: column;
          margin: 0; }
        .site-header-1-top-box .site-header-1-top .item-topbar .content-droplist li {
          border-top: 1px solid #cdcdcd; }
          .site-header-1-top-box .site-header-1-top .item-topbar .content-droplist li:first-child {
            border-top: none; }
          .site-header-1-top-box .site-header-1-top .item-topbar .content-droplist li p {
            margin: 0;
            padding: 8px 15px; }
      .site-header-1-top-box .site-header-1-top .item-topbar .dropdown {
        height: inherit; }
        .site-header-1-top-box .site-header-1-top .item-topbar .dropdown .current {
          display: flex;
          align-items: center;
          justify-content: center;
          height: inherit; }
        .site-header-1-top-box .site-header-1-top .item-topbar .dropdown > * {
          height: inherit; }
        .site-header-1-top-box .site-header-1-top .item-topbar .dropdown .rz-icon-svg {
          margin-left: 5px; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background: #1f1f1f;
  clear: both; }
  .site-footer .footer-main {
    color: var(--color-lighter); }

.footer-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px; }
  .footer-container .footer-item {
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px; }
    .footer-container .footer-item .footer-item-left {
      text-align: left; }

.footer-widget {
  padding: 64px 0px;
  border-bottom: 1px solid #fff;
  color: var(--border-color-lighter); }

.footer-sidebar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .footer-sidebar ul {
    color: var(--border-color-lighter);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0; }
    .footer-sidebar ul li {
      padding: 4px 0px; }
      .footer-sidebar ul li > a {
        color: var(--border-color-gray); }

.footer-sub {
  text-align: center;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 41px; }
  .footer-sub p {
    font-size: 24px;
    color: #fff; }

.form-button-email {
  display: flex;
  justify-content: center;
  gap: 0.5rem; }
  .form-button-email .form-email {
    width: 65%;
    background: #303030;
    border: none;
    float: left;
    margin-bottom: 0;
    padding: 17px 30px; }
    .form-button-email .form-email::placeholder {
      color: #a0a0a0;
      font-family: "Jost", sans-serif;
      font-size: 16px;
      line-height: 22px; }

.button-sub {
  background-color: var(--text-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  padding: 17px 30px;
  color: #fff;
  font-family: "Jost", sans-serif; }

/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
.columns-1 li {
  width: 100%; }

.columns-2 li {
  width: 50%; }

.columns-3 li {
  width: 33.33333%; }

.columns-4 li {
  width: 25%; }

.columns-5 li {
  width: 20%; }

.columns-6 li {
  width: 16.66667%; }

.columns-7 li {
  width: 14.28571%; }

.columns-8 li {
  width: 12.5%; }

.columns-9 li {
  width: 11.11111%; }

.columns-10 li {
  width: 10%; }

/*--------------------------------------------------------------
# Primary
--------------------------------------------------------------*/
.page .site-content {
  max-width: 1200px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block; }

#page {
  position: relative; }

.site-content {
  padding-top: 30px;
  padding-bottom: 80px; }

.main-content {
  width: 100%;
  display: flex; }

.sidebar {
  width: 25%;
  padding-right: 45px;
  list-style: none;
  float: left; }
  .sidebar li {
    list-style: none; }

.site-main {
  position: relative; }
  @media (max-width: 960px) {
    .site-main {
      padding-top: 0;
      text-align: left;
      margin: auto; } }

.page-title {
  text-align: center;
  margin: 0;
  padding: 42px 0 19px 0;
  font-weight: 500;
  font-size: 32px; }

.category-menu-container {
  margin-bottom: 51px;
  text-align: center; }
  .category-menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; }
    .category-menu-container ul li {
      display: inline-block;
      padding: 0 17px 10px; }
      .category-menu-container ul li:first-child {
        padding-left: 0; }
      .category-menu-container ul li:last-child {
        padding-left: 0; }
      .category-menu-container ul li a {
        font-weight: 500; }
  .category-menu-container a {
    color: black;
    position: relative; }
    .category-menu-container a:hover {
      color: #ff6f61; }

.post-page-container {
  position: relative;
  width: 100%; }
  @media (max-width: 768px) {
    .post-page-container {
      padding-top: 0;
      text-align: left;
      width: 100%; } }

.post-page-col-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px; }
  @media (max-width: 768px) {
    .post-page-col-list {
      width: 100%;
      display: flex;
      flex-direction: column; } }
  .post-page-col-list .col-post-page {
    width: 50%;
    margin-bottom: 53px; }
    @media (max-width: 768px) {
      .post-page-col-list .col-post-page {
        width: 100%; } }
    .post-page-col-list .col-post-page .post {
      padding: 0 25px; }

.entry-header {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-dark); }
  .entry-header img {
    max-width: 100%;
    height: auto; }
  .entry-header .date-post {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0%;
    top: 20px; }
    .entry-header .date-post p {
      padding: 3px 15px;
      margin: 0;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase; }

.entry-summary {
  margin: 0;
  display: flex;
  flex-direction: column; }
  .entry-summary h4 {
    margin: 0 0 13px;
    font-size: 24px;
    font-weight: 500;
    width: 100%; }
  .entry-summary .entry-content {
    margin: 0 0 17px; }
    .entry-summary .entry-content p {
      margin: 0;
      color: var(--text-color-gray); }
  .entry-summary .button-normal {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    float: left;
    display: flex;
    align-items: center;
    gap: 0.5rem; }
    .entry-summary .button-normal:hover svg {
      transform: translateX(20%);
      transition: 0.5s; }
    .entry-summary .button-normal svg {
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center; }

.page-number-link {
  text-align: center; }
  .page-number-link .page-numbers {
    padding: 10px; }
  .page-number-link .current {
    border: 1px solid var(--border-color-dark);
    padding: 0 20px; }

.single-page-content {
  position: relative;
  width: 85%;
  margin: auto; }

.header-single {
  text-align: center;
  margin-bottom: 70px; }
  .header-single .entry-title {
    font-size: 48px;
    margin: 0 0 13px;
    font-weight: 500; }
  .header-single .author-date-post {
    text-align: center; }
  .header-single .post-thumbnail {
    margin-top: 70px; }

.content-post-container {
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 80px; }

.hashtag-keyword-post {
  padding-top: 30px; }
  .hashtag-keyword-post .rz-post-tag {
    display: flex;
    justify-content: center;
    column-gap: 20px; }
    .hashtag-keyword-post .rz-post-tag a {
      border: 1px solid var(--border-color-gray);
      padding: 9px 21px;
      font-size: 14px;
      margin: 4px 2px; }

.social-share-post {
  margin-top: 18.5px;
  display: flex;
  justify-content: center; }
  .social-share-post a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 32px;
    margin: 7.5px;
    color: var(--color-lighter); }
  .social-share-post .social-share-link.facebook {
    background-color: #475a96; }
  .social-share-post .social-share-link.twitter {
    background-color: #49b2e8; }
  .social-share-post .social-share-link.googleplus {
    background-color: #d74047; }
  .social-share-post .social-share-link.instagram {
    background-color: #0d76b4; }

.related-posts {
  margin-bottom: 50px; }
  .related-posts .title-related-posts {
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin: 0 0 57px; }
  .related-posts .related-posts-list {
    margin-left: auto;
    margin-right: auto; }

.related-posts-content-list {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: content-box; }
  .related-posts-content-list .post {
    width: 33%;
    margin-right: 30px; }
    .related-posts-content-list .post h4 {
      margin: 0 0 13px;
      font-size: 20px;
      font-weight: 500;
      width: 100%; }

:focus {
  outline: 0; }

.page-post-found {
  text-align: center;
  margin-top: 11px;
  margin-bottom: 30px; }
  .page-post-found .post-inner {
    display: inline-block;
    padding: 10px 50px;
    border-bottom: 2px solid var(--border-color-light);
    position: relative;
    color: #767676;
    font-size: 15px; }
    .page-post-found .post-inner .count-bar {
      position: absolute;
      bottom: -2px;
      left: 0;
      background-color: var(--background-color-dark);
      height: 2px; }

.load-navigation {
  text-align: center; }
  .load-navigation .nav-links a {
    font-weight: 600;
    padding: 11px 45px;
    border: 1px solid var(--border-color-dark);
    transition: 0.35s; }
    .load-navigation .nav-links a:hover {
      color: var(--color-lighter);
      background-color: var(--color-dark); }

/*--------------------------------------------------------------
# Modules / Modal
--------------------------------------------------------------*/
.page-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
  visibility: hidden; }
  .page-modal.open {
    visibility: visible; }
    .page-modal.open .page-panel {
      transform: none; }
  .page-modal .off-modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #1f1f1f;
    opacity: 0.5;
    transition: 0.35s; }
  .page-modal .page-panel {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    width: 470px;
    max-width: 100%;
    margin: 0;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.35s; }
  .page-modal .modal-header {
    border-bottom: 1px solid #f5f5f5;
    padding: 25px 45px 20px 20px;
    align-items: center;
    position: relative; }
    .page-modal .modal-header h3 {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      margin: 0; }
    .page-modal .modal-header .button-close {
      position: absolute;
      top: 35%;
      right: 5%; }
  .page-modal .modal-content {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
    position: static; }
  .page-modal .form-login, .page-modal .form-register {
    padding: 60px 30px 0 30px; }
    .page-modal .form-login .form-row, .page-modal .form-register .form-row {
      margin: 0;
      width: 100%; }
      .page-modal .form-login .form-row#form-input-password, .page-modal .form-register .form-row#form-input-password {
        position: relative; }
        .page-modal .form-login .form-row#form-input-password .showpassword, .page-modal .form-register .form-row#form-input-password .showpassword {
          position: absolute;
          top: 17px;
          right: 15px; }
      .page-modal .form-login .form-row input, .page-modal .form-login .form-row button, .page-modal .form-register .form-row input, .page-modal .form-register .form-row button {
        width: 100%;
        margin-bottom: 30px; }
        .page-modal .form-login .form-row input.form-checkbox, .page-modal .form-login .form-row button.form-checkbox, .page-modal .form-register .form-row input.form-checkbox, .page-modal .form-register .form-row button.form-checkbox {
          width: fit-content; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Page
--------------------------------------------------------------*/
.page-header {
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  @media (min-width: 768px) {
    .page-header {
      width: 750px; } }
  @media (min-width: 992px) {
    .page-header {
      width: 970px; } }
  @media (min-width: 1200px) {
    .page-header {
      width: 1170px; } }

.semi-links-container {
  display: flex;
  align-items: center;
  padding: 19px 0px;
  font-size: 14px;
  color: #909090; }
  .semi-links-container .dilimiter {
    margin: 0 5px; }
  .semi-links-container p {
    color: #909090;
    margin: 0; }

/*--------------------------------------------------------------
# Clearfix
--------------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clearfix:after {
  clear: both; }
