/**
 * Products
 */
.sidebar .wc-block-product-categories-list {
  position: relative; }

.sidebar ul {
  margin: 0; }
  .sidebar ul a {
    position: relative; }
    .sidebar ul a:hover::before {
      background-color: #1f1f1f; }
    .sidebar ul a:hover::after {
      opacity: 1; }
    .sidebar ul a::before {
      content: "";
      height: 18px;
      width: 18px;
      background-color: #e2e2e2;
      margin: 0px 14px 0 0;
      float: left;
      transition: 0.15s all ease-out; }
    .sidebar ul a::after {
      transform: rotate(45deg);
      content: "";
      width: 5px;
      height: 9px;
      display: block;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      position: absolute;
      top: 3px;
      left: -25px;
      opacity: 0; }

.sidebar .widget-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--border-color-light);
  cursor: pointer;
  padding: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
  margin: 0 0 35px;
  line-height: 1; }

.sidebar .woocommerce-widget-layered-nav-list {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color); }

.archive.woocommerce #primary {
  float: right;
  width: 75%;
  padding-left: 30px; }

.archive.woocommerce .site-content {
  padding-top: 60px; }

.catalog-header-banners {
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .catalog-header-banners .swiper-wrapper {
    padding: 0;
    margin: 0;
    display: flex; }
    .catalog-header-banners .swiper-wrapper .swiper-slide {
      list-style: none;
      display: block;
      text-align: center;
      font-size: 18px;
      background: #fff;
      flex-shrink: 0; }
  .catalog-header-banners .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10; }
    .catalog-header-banners .swiper-pagination .swiper-pagination-bullet {
      background-color: red;
      width: 1rem;
      height: 1rem;
      border-radius: 0.5rem;
      opacity: 1; }
    .catalog-header-banners .swiper-pagination .swiper-pagination-bullet-active {
      background-color: blue;
      width: 1rem;
      height: 1rem;
      border-radius: 0.5rem; }

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px; }

.product-breadcrumb .page-title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 7px;
  color: var(--color-dark);
  padding: 0; }

.product-breadcrumb nav {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color-gray); }

.woocommerce-ordering .orderby {
  border: 1px solid var(--border-color);
  padding: 12px 25px;
  min-width: 230px;
  color: var(--text-color-gray); }
  .woocommerce-ordering .orderby:hover {
    border: 1px solid var(--border-color-dark); }

ul.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0;
  position: relative; }
  ul.products li.product {
    list-style: none;
    margin-bottom: 25px;
    padding: 0 15px; }
    ul.products li.product .product-thumbnail {
      position: relative; }
      ul.products li.product .product-thumbnail img {
        width: 100%;
        height: auto; }
      ul.products li.product .product-thumbnail:hover .product-loop-button > a {
        opacity: 1; }
      ul.products li.product .product-thumbnail .product-loop-button {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        bottom: 20px;
        transition: 0.35s; }
        ul.products li.product .product-thumbnail .product-loop-button .woocommerce-loop-product__link {
          display: none; }
        ul.products li.product .product-thumbnail .product-loop-button a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: #fff;
          border-radius: 100%;
          margin: 0 5px;
          opacity: 0;
          transform: translateY(10px); }
          ul.products li.product .product-thumbnail .product-loop-button a.wc-forward {
            display: none; }
          ul.products li.product .product-thumbnail .product-loop-button a:hover {
            background-color: var(--color-primary);
            color: #fff;
            transition: 0.35s; }
          ul.products li.product .product-thumbnail .product-loop-button a:nth-child(3) {
            transition-delay: 75ms; }
          ul.products li.product .product-thumbnail .product-loop-button a:nth-child(4) {
            transition-delay: 150ms; }
          ul.products li.product .product-thumbnail .product-loop-button a:nth-child(5) {
            transition-delay: 150ms; }
    ul.products li.product .product-summary {
      padding-top: 20px;
      display: flex;
      flex-direction: column; }
      ul.products li.product .product-summary .woocommerce-loop-product__title {
        color: var(--color-dark);
        margin: 0 0 3px;
        font-size: 16px; }
      ul.products li.product .product-summary .meta-cat {
        font-size: 14px;
        color: var(--text-color-gray); }
    ul.products li.product .woocommerce-loop-product__title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.33;
      margin: 5px 0px 3px 0px; }

.price,
.woocommerce-grouped-product-list-item__price {
  color: var(--text-color-gray);
  font-size: 16px;
  font-weight: 500; }
  .price ins,
  .woocommerce-grouped-product-list-item__price ins {
    color: var(--color-primary);
    text-decoration: none; }
  .price del,
  .woocommerce-grouped-product-list-item__price del {
    font-size: 14px;
    color: #a6a6a6; }

.woocommerce-badges {
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  text-align: center; }
  .woocommerce-badges > span {
    padding: 5px 11px;
    line-height: 1;
    background-color: var(--background-color-dark);
    color: var(--color-lighter); }

.loading::before {
  content: "";
  opacity: 1;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid;
  border-top-color: transparent;
  animation: spin 1s linear infinite; }

.loading .rz-icon-svg {
  display: none; }

/**
 * Single-product
 */
.single-product .site-content {
  padding-top: 0px; }

.single-product .product-gallery-summary {
  display: flex; }
  .single-product .product-gallery-summary .woocommerce-product-gallery__wrapper {
    margin: 0; }
  .single-product .product-gallery-summary .woocommerce-product-gallery {
    position: relative;
    float: left;
    width: 48.7%; }
    .single-product .product-gallery-summary .woocommerce-product-gallery .flex-control-thumbs {
      margin: 15px 0 0;
      padding: 0;
      display: flex;
      width: 100%; }
      .single-product .product-gallery-summary .woocommerce-product-gallery .flex-control-thumbs li {
        list-style: none;
        width: 102px;
        margin-right: 20px; }
    .single-product .product-gallery-summary .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
      display: none; }

.single-product .entry-summary {
  padding-left: 100px;
  width: 51.3%; }
  .single-product .entry-summary .summary-top-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px; }
    .single-product .entry-summary .summary-top-box a {
      color: var(--text-color-gray); }
    .single-product .entry-summary .summary-top-box .woocommerce-product-rating {
      display: flex; }
      .single-product .entry-summary .summary-top-box .woocommerce-product-rating .star-rating {
        font-size: 18px;
        margin-top: 2px; }
      .single-product .entry-summary .summary-top-box .woocommerce-product-rating .woocommerce-review-link {
        outline: none;
        color: var(--color-dark);
        text-decoration: none;
        padding-left: 10px; }
  .single-product .entry-summary .entry-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    color: var(--color-dark);
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 11px; }
  .single-product .entry-summary .price {
    font-size: 24px;
    font-weight: 500;
    color: var(--rz-color-dark);
    margin: 0 0 20px; }
    .single-product .entry-summary .price ins {
      text-decoration: none;
      color: var(--color-primary); }
    .single-product .entry-summary .price del {
      margin-right: 13px;
      font-size: 18px;
      color: #a0a0a0; }
  .single-product .entry-summary .woocommerce-product-details__short-description {
    margin-top: 16px;
    margin-bottom: 47px; }
    .single-product .entry-summary .woocommerce-product-details__short-description p {
      margin: 0; }
  .single-product .entry-summary form.cart .variations {
    width: 100%;
    position: relative; }
    .single-product .entry-summary form.cart .variations td {
      display: block;
      margin-bottom: 10px;
      padding: 0;
      border: none; }
    .single-product .entry-summary form.cart .variations td.label {
      color: #111; }
    .single-product .entry-summary form.cart .variations select {
      width: 100%;
      margin-right: 0;
      background-color: transparent;
      padding: 11px 15px 10px;
      text-transform: capitalize;
      cursor: pointer;
      border: 1px solid #d9d9d9; }
    .single-product .entry-summary form.cart .variations .reset_variations {
      position: absolute;
      top: 0;
      right: 0; }
  .single-product .entry-summary form.cart .group_table {
    margin-bottom: 15px;
    width: 100%; }
    .single-product .entry-summary form.cart .group_table tr.product {
      padding: 10px 0;
      align-items: center;
      display: flex; }
      .single-product .entry-summary form.cart .group_table tr.product td {
        padding: 0 10px 0 0; }
      .single-product .entry-summary form.cart .group_table tr.product .woocommerce-grouped-product-list-item__quantity {
        order: 2; }
        .single-product .entry-summary form.cart .group_table tr.product .woocommerce-grouped-product-list-item__quantity .input-text {
          width: 83px;
          height: 50px;
          border: 1px solid var(--border-color-light); }
      .single-product .entry-summary form.cart .group_table tr.product .woocommerce-grouped-product-list-item__label {
        order: 1; }
      .single-product .entry-summary form.cart .group_table tr.product .woocommerce-grouped-product-list-item__price {
        text-align: right;
        min-width: 76px;
        order: 3; }
  .single-product .entry-summary .product-button-wrapper {
    display: flex;
    align-items: center; }
    .single-product .entry-summary .product-button-wrapper .quantity {
      margin-right: 30px;
      margin-bottom: 15px; }
      .single-product .entry-summary .product-button-wrapper .quantity .input-text {
        width: 83px;
        height: 50px;
        border: 1px solid var(--border-color-light); }
    .single-product .entry-summary .product-button-wrapper .single_add_to_cart_button {
      margin-right: 20px;
      margin-bottom: 15px;
      border: none; }
  .single-product .entry-summary .product_meta {
    margin: 20px 0; }
    .single-product .entry-summary .product_meta > span {
      display: block; }

.single-product .woocommerce-tabs {
  margin: 80px 0 0; }
  .single-product .woocommerce-tabs > .wc-tabs {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color-light);
    margin: 0; }
    .single-product .woocommerce-tabs > .wc-tabs > li {
      display: block;
      margin: 0;
      position: relative;
      padding: 0 20px; }
      .single-product .woocommerce-tabs > .wc-tabs > li.active a {
        color: var(--color-primary); }
        .single-product .woocommerce-tabs > .wc-tabs > li.active a::after {
          width: 100%;
          opacity: 1; }
      .single-product .woocommerce-tabs > .wc-tabs > li a {
        display: block;
        position: relative;
        font-weight: 500;
        padding: 10px 0; }
        .single-product .woocommerce-tabs > .wc-tabs > li a:hover {
          color: var(--color-primary); }
        .single-product .woocommerce-tabs > .wc-tabs > li a::after {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          width: 0;
          height: 1px;
          background-color: var(--background-color-primary);
          transition: 0.5s;
          opacity: 0; }
  .single-product .woocommerce-tabs .panel {
    max-width: 790px;
    margin: 45px auto 0;
    padding: 0 15px; }
    .single-product .woocommerce-tabs .panel .woocommerce-Reviews .woocommerce-Reviews-title {
      display: none; }
    .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist {
      list-style: none;
      padding-left: 0; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li {
        border: 1px solid #e5e5e5;
        padding: 40px;
        margin-bottom: 20px; }
        .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li .comment_container {
          display: flex;
          justify-content: flex-start; }
        .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li img.avatar {
          width: 100px;
          border: none;
          padding: 0;
          border-radius: 50%; }
        .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li .comment-text {
          margin: 0 0 0 40px;
          border-radius: 0;
          padding: 0;
          border: none;
          width: 100%; }
          .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li .comment-text .star-rating {
            float: right; }
          .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li .comment-text p.meta {
            display: flex;
            flex-direction: column;
            margin: 0 0 10px; }
            .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li .comment-text p.meta .woocommerce-review__dash {
              display: none; }
            .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li .comment-text p.meta .woocommerce-review__author {
              order: 2; }
            .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li .comment-text p.meta .woocommerce-review__published-date {
              order: 1; }
          .single-product .woocommerce-tabs .panel .woocommerce-Reviews ol.commentlist li .comment-text .description p {
            margin: 0; }
    .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond {
      padding: 30px 0 0;
      font-size: 16px;
      margin: 40px auto 0; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond span.required {
        color: red; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-reply-title {
        text-align: center;
        font-size: 28px;
        font-weight: 500;
        display: block;
        margin-bottom: 20px;
        color: var(--color-darker); }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form .comment-notes {
        display: block;
        text-align: center;
        margin-bottom: 30px; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form > p {
        margin: 0 0 20px; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-rating {
        margin-top: 60px; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-comment {
        display: flex;
        flex-direction: column; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-author {
        float: left;
        width: 50%;
        padding-right: 15px; }
        .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-author input {
          width: 100%; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-email {
        float: left;
        width: 50%;
        padding-left: 15px; }
        .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-email input {
          width: 100%; }
      .single-product .woocommerce-tabs .panel .woocommerce-Reviews .comment-respond .comment-form .form-submit .submit {
        min-width: 150px; }

.single-product .related {
  margin-top: 50px;
  color: var(--color-dark); }
  .single-product .related > h2 {
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 60px;
    text-align: center; }
  .single-product .related ul.products {
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
    box-sizing: border-box; }
    .single-product .related ul.products li.product {
      width: 270px;
      margin-right: 30px;
      margin-bottom: 0;
      padding: 0; }
      .single-product .related ul.products li.product:last-child {
        margin-right: 0; }
      .single-product .related ul.products li.product .product-summary {
        padding-top: 15px; }
        .single-product .related ul.products li.product .product-summary .woocommerce-loop-product__title {
          font-size: 16px; }

.single-product .product-share .sharing-icon {
  color: var(--color-dark);
  margin-right: 11px; }

.single-product .product-share .socials .social-share-link {
  font-size: 16px;
  margin: 0 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 37px;
  text-align: center;
  border-radius: 50%;
  color: var(--color-placeholder);
  background-color: #F5F5F5; }
  .single-product .product-share .socials .social-share-link:hover {
    color: var(--color-lighter);
    background-color: var(--color-dark);
    transition: 0.35s; }

.single-product .product-share .after-text {
  display: none; }

.star-rating {
  position: relative;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; }
  .star-rating .rating-stars {
    display: block;
    line-height: 1; }
  .star-rating .max-rating .rz-icon-svg {
    color: #cdcdcd; }
  .star-rating .user-rating {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden; }
    .star-rating .user-rating .rz-icon-svg {
      color: var(--color-darker); }

/*--------------------------------------------------------------
# Shop widget
--------------------------------------------------------------*/
/* Shoping cart widget */
.widget_shopping_cart_content {
  height: calc(100% - 340px);
  position: static; }
  .widget_shopping_cart_content .woocommerce-mini-cart {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 30px;
    overflow-y: auto;
    height: 100%; }
    .widget_shopping_cart_content .woocommerce-mini-cart.cart_list .mini_cart_item {
      display: flex;
      align-items: center;
      position: relative; }
    .widget_shopping_cart_content .woocommerce-mini-cart li {
      border-bottom: 1px solid var(--border-color-light);
      padding-bottom: 30px;
      margin-bottom: 30px; }
      .widget_shopping_cart_content .woocommerce-mini-cart li:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0; }
  .widget_shopping_cart_content .woocommerce-mini-cart-item__thumbnail {
    padding-right: 30px; }
    .widget_shopping_cart_content .woocommerce-mini-cart-item__thumbnail img {
      display: block;
      float: none;
      margin-right: 0;
      max-width: 120px;
      height: auto; }
  .widget_shopping_cart_content .woocommerce-mini-cart-item__summary {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .widget_shopping_cart_content .woocommerce-mini-cart-item__summary .woocommerce-mini-cart-item__name {
      display: flex;
      flex-direction: column;
      font-size: 15px;
      font-weight: 600; }
      .widget_shopping_cart_content .woocommerce-mini-cart-item__summary .woocommerce-mini-cart-item__name .woocommerce-mini-cart-item__price {
        font-weight: 500;
        display: block;
        margin-top: 5px;
        color: var(--text-color-gray); }
    .widget_shopping_cart_content .woocommerce-mini-cart-item__summary .woocommerce-mini-cart-item__qty {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      align-items: center; }
      .widget_shopping_cart_content .woocommerce-mini-cart-item__summary .woocommerce-mini-cart-item__qty .current {
        display: inline-block;
        font-size: 15px;
        width: 60px;
        height: 30px;
        line-height: 30px;
        border: 1px solid var(--border-color-gray);
        position: relative;
        padding-left: 10px;
        text-align: left; }
  .widget_shopping_cart_content a.remove {
    color: #a2a5a6;
    line-height: 1; }
    .widget_shopping_cart_content a.remove .rz-icon-svg {
      font-size: 14px;
      transform: translateY(2px); }
    .widget_shopping_cart_content a.remove .name {
      font-size: 14px; }
    .widget_shopping_cart_content a.remove:hover {
      color: var(--text-color-dark); }
  .widget_shopping_cart_content .woocommerce-mini-cart__empty-message {
    position: absolute;
    top: calc( 50% - 15px);
    transform: translateY(-50%);
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: var(--color-dark);
    margin: 0;
    padding: 0 30px;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .widget_shopping_cart_content .woocommerce-mini-cart__empty-message .rz-icon-svg {
      margin-left: 10px; }
  .widget_shopping_cart_content .total {
    font-size: 15px;
    font-weight: 500;
    text-align: right;
    color: var(--color-dark);
    background-color: var(--background-color-gray);
    padding: 24px 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .widget_shopping_cart_content .buttons {
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px;
    margin: 30px 0 0; }
    .widget_shopping_cart_content .buttons .button {
      height: 54px;
      line-height: 54px; }
      .widget_shopping_cart_content .buttons .button.wc-forward {
        font-weight: 500;
        font-size: 16px;
        line-height: 50px;
        display: inline-block;
        background-color: var(--background-color-dark);
        color: var(--color-lighter);
        padding: 0 37px;
        text-align: center;
        white-space: nowrap;
        text-decoration: none; }
        .widget_shopping_cart_content .buttons .button.wc-forward.checkout {
          margin-top: 15px;
          background-color: var(--background-color-lighter);
          color: var(--color-dark);
          border: 1px solid var(--border-color-dark); }
  .widget_shopping_cart_content ::-webkit-scrollbar {
    width: 5px; }

.widget_shopping_cart_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff; }

/*--------------------------------------------------------------
# Shop cart
--------------------------------------------------------------*/
.woocommerce-cart-form {
  width: 66%;
  float: left;
  padding-right: 100px; }

table.shop_table {
  width: 100%;
  border-collapse: collapse; }
  table.shop_table tbody {
    width: 100%; }
    table.shop_table tbody tr:not(:last-child) {
      border-bottom: 1px solid var(--color-dark); }
      table.shop_table tbody tr:not(:last-child) td {
        padding: 30px 0px;
        clear: both; }
      table.shop_table tbody tr:not(:last-child) td.product-thumbnail {
        padding-right: 30px;
        line-height: 1;
        width: 14%; }
        table.shop_table tbody tr:not(:last-child) td.product-thumbnail a {
          max-width: 140px;
          display: block;
          margin: 0; }
          table.shop_table tbody tr:not(:last-child) td.product-thumbnail a img {
            min-width: 140px; }
      table.shop_table tbody tr:not(:last-child) td.product-content {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        table.shop_table tbody tr:not(:last-child) td.product-content .product-top {
          display: flex;
          justify-content: space-between; }
          table.shop_table tbody tr:not(:last-child) td.product-content .product-top .product-name a {
            margin-bottom: 5px; }
          table.shop_table tbody tr:not(:last-child) td.product-content .product-top .product-name dl.variation {
            margin: 0;
            display: flex; }
            table.shop_table tbody tr:not(:last-child) td.product-content .product-top .product-name dl.variation dd.variation-size {
              margin-left: 10px; }
              table.shop_table tbody tr:not(:last-child) td.product-content .product-top .product-name dl.variation dd.variation-size p {
                margin: 0; }
        table.shop_table tbody tr:not(:last-child) td.product-content .product-bottom {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          table.shop_table tbody tr:not(:last-child) td.product-content .product-bottom .quantity {
            margin-right: 30px;
            margin-bottom: 15px; }
            table.shop_table tbody tr:not(:last-child) td.product-content .product-bottom .quantity .input-text {
              width: 83px;
              height: 50px;
              border: 1px solid var(--border-color-light); }
        table.shop_table tbody tr:not(:last-child) td.product-content .coupon-form {
          border: 1px solid red; }
  table.shop_table .coupon-form .coupon {
    margin-top: 25px;
    float: left; }
    table.shop_table .coupon-form .coupon .coupon-row {
      padding-top: 14px; }
      table.shop_table .coupon-form .coupon .coupon-row input.input-text {
        min-width: 265px; }
  table.shop_table .coupon-form .button_update_cart {
    margin-top: 62px;
    float: right; }

.cart-collaterals {
  width: 34%;
  float: left;
  color: var(--color-dark); }
  .cart-collaterals .cart_totals h2 {
    display: none; }
  .cart-collaterals .cart_totals table.shop_table {
    background-color: var(--background-color-gray); }
    .cart-collaterals .cart_totals table.shop_table tr {
      font-size: 16px;
      line-height: 22px;
      color: var(--color-dark);
      border-bottom: 1px solid var(--border-color-light); }
      .cart-collaterals .cart_totals table.shop_table tr.cart-subtotal {
        color: var(--text-color); }
      .cart-collaterals .cart_totals table.shop_table tr.order-total {
        font-size: 18px;
        font-weight: 500; }
        .cart-collaterals .cart_totals table.shop_table tr.order-total th {
          font-size: inherit;
          font-weight: inherit; }
        .cart-collaterals .cart_totals table.shop_table tr.order-total strong {
          font-weight: 500; }
      .cart-collaterals .cart_totals table.shop_table tr th {
        font-weight: 400;
        padding: 30px;
        text-align: left; }
      .cart-collaterals .cart_totals table.shop_table tr td {
        font-weight: 400;
        padding: 30px;
        text-align: right; }
      .cart-collaterals .cart_totals table.shop_table tr.shipping-cost-comment {
        display: none; }
    .cart-collaterals .cart_totals table.shop_table td {
      border-bottom: none; }
  .cart-collaterals .cart_totals .wc-proceed-to-checkout {
    margin-top: 30px;
    text-align: center; }
    .cart-collaterals .cart_totals .wc-proceed-to-checkout a {
      padding: 15px 130px;
      color: var(--color-lighter);
      text-align: center;
      background-color: var(--color-dark); }

/*--------------------------------------------------------------
# Shop checkout
--------------------------------------------------------------*/
form.woocommerce-checkout {
  display: flex; }
  form.woocommerce-checkout #customer_details {
    width: 66%;
    padding-right: 100px; }
  form.woocommerce-checkout #order_review_heading {
    display: none; }
  form.woocommerce-checkout #order_review {
    width: 34%; }
  form.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p.form-row,
  form.woocommerce-checkout .woocommerce-additional-fields__field-wrapper p.form-row {
    display: flex;
    flex-direction: column;
    align-items: center; }
    form.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p.form-row label,
    form.woocommerce-checkout .woocommerce-additional-fields__field-wrapper p.form-row label {
      width: 100%; }
    form.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p.form-row .woocommerce-input-wrapper,
    form.woocommerce-checkout .woocommerce-additional-fields__field-wrapper p.form-row .woocommerce-input-wrapper {
      margin-top: 10px;
      width: 100%; }
      form.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p.form-row .woocommerce-input-wrapper .input-text,
      form.woocommerce-checkout .woocommerce-additional-fields__field-wrapper p.form-row .woocommerce-input-wrapper .input-text {
        width: 100%; }

table.woocommerce-checkout-review-order-table {
  border: 1px solid var(--border-color);
  padding: 20px 30px; }
  table.woocommerce-checkout-review-order-table thead th {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 10px; }
