.page-header{

		margin-left: auto;
		margin-right: auto;
		height: 100%;

		@media (min-width: 768px) {
			width: 750px;
		}
		@media (min-width: 992px) {
			width: 970px;
		}
		@media (min-width: 1200px) {
			width: 1170px;
		}

}

.semi-links-container {
	display: flex;
	align-items: center;
	padding: 19px 0px;
	font-size: 14px;
	color: #909090;

	.dilimiter {
		margin: 0 5px;
	}

	p {
		color: #909090;
		margin: 0;
	}
}