.site-header {
	--rz-header-color-light: #ffffff;
	--rz-header-color-dark: #111111;
	--rz-header-color-darker: #1f1f1f;
	--rz-header-text-color-gray: #767676;
	--rz-header-background-color-light: #ffffff;
	--rz-header-background-color-dark: #1f1f1f;

	position: relative;
	margin: auto;

	.header-1 {
		display: block;

		.site-header-1-bottom-box {
			width: 100%;
			border-bottom: 1px solid var(--border-color-light);

			.site-header-1-bottom {
				display: flex;
				height: 90px;
				align-items: center;
			}
		}
	}

	.header-2 {
		display: none;
	}
}

.header-item {
	display: flex;
	height: 100%;
	align-items: center;


}

.header-left-item {
	flex: 1;
	text-align: left;
	justify-content: left;
	margin: 0 -20px;
}

.header-center-item {
	text-align: center;
	justify-content: center;

	> * {
		margin: 0 17px;
	}
}

.header-right-item {
	flex: 1;
	text-align: right;
	justify-content: flex-end;
	margin: 0 -10px;
}

.header-item{
	> * {
		z-index: 999;
		line-height: 1;
		height: inherit;
		display: flex;
		align-items: center;
	}
}