.menu-header-icon-bar {
	text-align: right;

	.menu-header-icon-bar-list {
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: flex-end;

		a {
			margin: 0;
			padding: 0 10px;


		}
	}
}
