.primary-menu-container {
	text-align: center;
	align-items: center;
	height: 100%;
	width: 100%;

	.nav-menu {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;

		> li {
			display: flex;
			align-items: center;
			padding-top: 8px;
			padding-bottom: 8px;

			&:first-child {
				padding-left: 0;
			}

			> a {
				padding: 0 3px;
				white-space: nowrap;
				position: relative;

				&:hover {
					color: var(--background-color-primary);
				}

				&::after {
					content: "";
					position: absolute;
					width: 0;
					height: 1px;
					bottom: -2px;
					left: 0;
					background-color: #ff6f61;
					visibility: hidden;
					transition: all 0.5s;
				}
			}
		}

		li {
			height: 100%;
			width: 100%;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		float: left;
		padding: 0 14px;
		outline: none;
	}

	a {
		display: block;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		text-decoration: none;
		line-height: 1;
		color: var(--rz-header-color-dark);
		outline: none;
		transition: 0.5s;
	}

}
