@mixin razzii-button() {
	font-weight: 500;
	font-size: 16px;
	line-height: 50px;
	display: inline-block;
	background-color: var( --background-color-dark );
	color: var(--color-lighter);
    padding: 0 37px;
    text-align: center;
	// transition: ease .3s;
	white-space: nowrap;
	text-decoration: none;
	border: none;
}


@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

@mixin clearfix-before() {
	clear: both;
}