.page-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100000;
	visibility: hidden;

	&.open {
		visibility: visible;

		.page-panel {
			transform: none;
		}
	}

	.off-modal-layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-color: #1f1f1f;
		opacity: 0.5;
		transition:  0.35s;
	}

	.page-panel {
		position: absolute;
		top: 0;
		right: 0px;
		height: 100%;
		width: 470px;
		max-width: 100%;
		margin: 0;
		background-color: var(--main-color);
		display: flex;
		flex-direction: column;
		transform: translateX(100%);
		transition:  0.35s;

	}

	.modal-header {
		border-bottom: 1px solid #f5f5f5;
		padding: 25px 45px 20px 20px;
		align-items: center;
		position: relative;

		h3 {
			font-size: 18px;
			font-weight: 500;
			text-align: center;
			margin: 0;
		}

		.button-close {
			position: absolute;
			top: 35%;
			right: 5%;
		}
	}

	.modal-content{
		height: 100%;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-top: 30px;
		position: static;
	}

	// Account form
	.form-login, .form-register{
		padding: 60px 30px 0 30px;

		.form-row{
			margin: 0;
			width: 100%;
			&#form-input-password{
				position: relative;
				.showpassword{
					position: absolute;
					top: 17px;
					right: 15px;
				}
			}
			input, button{
				width: 100%;
				margin-bottom: 30px;

				&.form-checkbox{
					width: fit-content;
				}
			}
		}
	}
}
