.woocommerce-cart-form {
	width: 66%;
	float: left;
	padding-right: 100px;
}

table.shop_table {
	width: 100%;
	border-collapse: collapse;

	tbody {
		width: 100%;

		tr:not(:last-child) {
			border-bottom: 1px solid var(--color-dark);

			td {
				padding: 30px 0px;
				clear: both;
			}

			td.product-thumbnail {
				padding-right: 30px;
				line-height: 1;
				width: 14%;

				a {
					max-width: 140px;
					display: block;
					margin: 0;

					img {
						min-width: 140px;
					}
				}
			}

			td.product-content {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.product-top {
					display: flex;
					justify-content: space-between;

					.product-name {
						a {
							margin-bottom: 5px;
						}

						dl.variation {
							margin: 0;
							display: flex;

							dd.variation-size {
								margin-left: 10px;

								p {
									margin: 0;
								}
							}
						}
					}
				}

				.product-bottom {
					margin-top: 15px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.quantity {
						margin-right: 30px;
						margin-bottom: 15px;

						.input-text {
							width: 83px;
							height: 50px;
							border: 1px solid var(--border-color-light);
						}
					}
				}

				.coupon-form {
					border: 1px solid red;
				}
			}
		}
	}
	.coupon-form {
		.coupon {
			margin-top: 25px;
			float: left;

			.coupon-row {
				padding-top: 14px;

				input.input-text {
					min-width: 265px;
				}
			}
		}

		.button_update_cart {
			margin-top: 62px;
			float: right;
		}
	}
}

.cart-collaterals {
	width: 34%;
	float: left;
	color: var(--color-dark);

	.cart_totals {

		h2 {
			display: none;
		}

		table.shop_table {
			background-color: var(--background-color-gray);

				tr {
					font-size: 16px;
					line-height: 22px;
					color: var(--color-dark);
					border-bottom: 1px solid var(--border-color-light);

					&.cart-subtotal {
						color: var(--text-color);

					}

					&.order-total{
						font-size: 18px;
						font-weight: 500;

						th{
							font-size: inherit;
							font-weight: inherit;
						}

						strong{
							font-weight: 500;
						}
					}

					th {
						font-weight: 400;
						padding: 30px;
						text-align: left;
					}

					td {
						font-weight: 400;
						padding: 30px;
						text-align: right;
					}

					&.shipping-cost-comment {
						display: none;
					}
				}

				td {
					border-bottom: none;
				}
		}

		.wc-proceed-to-checkout {
			margin-top: 30px;
			text-align: center;

			a {
				padding: 15px 130px;
				color: var(--color-lighter);
				text-align: center;
				background-color: var(--color-dark);
			}
		}
	}
}
