//Form check out
form.woocommerce-checkout {
	display: flex;

	#customer_details {
		width: 66%;
		padding-right: 100px;
	}

	#order_review_heading {
		display: none;
	}

	#order_review {
		width: 34%;
	}

	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-additional-fields__field-wrapper {
		p.form-row {
			display: flex;
			flex-direction: column;
			align-items: center;

			label {
				width: 100%;
			}

			.woocommerce-input-wrapper {
				margin-top: 10px;
				width: 100%;

				.input-text {
					width: 100%;
				}
			}
		}
	}
}

table.woocommerce-checkout-review-order-table {
	border: 1px solid var(--border-color);
	// border-collapse: separate;
	padding: 20px 30px;

	thead {
		th {
			border-bottom: 1px solid #e2e2e2;
			padding: 0 0 10px;
		}
	}
}
