/* Shoping cart widget */
.widget_shopping_cart_content {
	height: calc(100% - 340px);
	position: static;

	.woocommerce-mini-cart {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0 30px;
		overflow-y: auto;
		height: 100%;

		&.cart_list .mini_cart_item {
			display: flex;
			align-items: center;
			position: relative;

		}

		li {
			border-bottom: 1px solid var(--border-color-light);
			padding-bottom: 30px;
			margin-bottom: 30px;

			&:last-child{
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}

		}
	}

	.woocommerce-mini-cart-item__thumbnail {
		padding-right: 30px;

		img {
			display: block;
			float: none;
			margin-right: 0;
			max-width: 120px;
			height: auto;
		}
	}

	.woocommerce-mini-cart-item__summary {
		display: flex;
		flex-direction: column;
		flex: 1;

		.woocommerce-mini-cart-item__name {
			display: flex;
			flex-direction: column;
			font-size: 15px;
			font-weight: 600;

			.woocommerce-mini-cart-item__price {
				font-weight: 500;
				display: block;
				margin-top: 5px;
				color: var(--text-color-gray);
			}
		}

		.woocommerce-mini-cart-item__qty {
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
			align-items: center;

			.current {
				display: inline-block;
				font-size: 15px;
				width: 60px;
				height: 30px;
				line-height: 30px;
				border: 1px solid var(--border-color-gray);
				position: relative;
				padding-left: 10px;
				text-align: left;
			}
		}
	}

	a.remove {
		color: #a2a5a6;
		line-height: 1;

		.rz-icon-svg {
			font-size: 14px;
			transform: translateY(2px);
		}

		.name {
			font-size: 14px;
		}

		&:hover {
			color: var(--text-color-dark);
		}
	}

	.woocommerce-mini-cart__empty-message{
		position: absolute;
		top: calc( 50% - 15px);
		transform: translateY(-50%);
		width: 100%;
		font-weight: 500;
		font-size: 24px;
		line-height: 35px;
		color: var(--color-dark);
		margin: 0;
		padding: 0 30px;
		text-align: center;
		display: flex;
		flex-direction: column;

		.rz-icon-svg{
			margin-left: 10px;
		}
	}

	.total {
		font-size: 15px;
		font-weight: 500;
		text-align: right;
		color: var(--color-dark);
		background-color: var(--background-color-gray);
		padding: 24px 30px;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		padding: 0 30px 30px;
		margin: 30px 0 0;

		.button{
			height: 54px;
			line-height: 54px;

			&.wc-forward{
				font-weight: 500;
				font-size: 16px;
				line-height: 50px;
				display: inline-block;
				background-color: var(--background-color-dark);
				color: var(--color-lighter);
				padding: 0 37px;
				text-align: center;
				white-space: nowrap;
				text-decoration: none;

				&.checkout{
					margin-top: 15px;
					background-color: var(--background-color-lighter);
					color: var(--color-dark);
					border: 1px solid var(--border-color-dark);
				}
			}
		}
	}

	::-webkit-scrollbar {
		width: 5px;
	}
}
.widget_shopping_cart_footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	// height: 310px;
}
