:root{
	--main-color:#ffffff;
	--color-primary: #FF6F61;
	--color-lighter: #ffffff;
	--color-dark: #111111;
	--color-darker: #1f1f1f;
	--color-placeholder: #A0A0A0;
	--color-hover-primary: #FF6F61;
	--background-color-primary: #FF6F61;
	--background-color-light: #ffffff;
	--background-color-gray: #f5f5f5;
	--background-color-dark: #1F1F1F;
	--background-text-color-primary: #ffffff;
	--border-color: #cccccc;
	--border-color-primary: #FF6F61;
	--border-color-light: #e2e2e2;
	--border-color-lighter: #ffffff;
	--border-color-gray: #cdcdcd;
	--border-color-dark: #1f1f1f;
	--text-color-gray: #767676;
	--text-color: #525252;
}