.site-footer {
	background: rgba(31, 31, 31, 1);
	clear: both;

	.footer-main {
		color: var(--color-lighter);
	}
}
.footer-container {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;

	.footer-item {
		height: 100%;
		width: 33.33%;
		display: flex;
		flex-direction: column;
		padding: 20px 0px;

		.footer-item-left {
			text-align: left;
		}
	}
}
