.footer-sub {
	text-align: center;
	width: 40%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 110px;
	padding-bottom: 41px;

	p {
		font-size: 24px;
		color: #fff;
	}
}
.form-button-email {
	display: flex;
	justify-content: center;
	gap: 0.5rem;

	.form-email {
		width: 65%;
		background: #303030;
		border: none;
		float: left;
		margin-bottom: 0;
		padding: 17px 30px;

		&::placeholder {
			color: #a0a0a0;
			font-family: "Jost", sans-serif;
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.button-sub {
	background-color: var(--text-color);
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	padding: 17px 30px;
	color: #fff;
	font-family: "Jost", sans-serif;
}
