.footer-widget {
	padding: 64px 0px;
	border-bottom: 1px solid #fff;
	color: var(--border-color-lighter);
}
.footer-sidebar {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	ul {
		color: var(--border-color-lighter);
		line-height: 1.5;
		display: flex;
		flex-direction: column;
		list-style: none;
		padding-left: 0;

		li {
			padding: 4px 0px;
			> a {
				color: var(--border-color-gray);
			}
		}
	}
}
