*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	font-family: "Jost", sans-serif;
	margin: 0;
	color: var(--text-color);
	font-style: 16px;
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: black;
}

.container {
	margin-left: auto;
	margin-right: auto;
	height: 100%;

	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1170px;
	}
}

.rz-icon-svg {
	display: inline-flex;
}
.rz-icon-svg svg {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: -0.125em;
}
.rz-icon-svg img {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: -0.125em;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include razzii-button();
}

textarea {
	padding: 15px;
	height: 150px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--color-dark);
	border: 1px solid var(--border-color);
	box-sizing: border-box;
	padding: 15px 15px;
	font-size: 16px;
	// transition: all 0.1s ease-in-out;
	outline: none;
}



select {
	padding: 12px 15px;
	background: url(assets/images/arrow.svg) no-repeat right white;
	background-size: 1em 1em;
	background-position: calc(100% - 10px) calc(1em - 2px);
	-webkit-appearance: none;
}

.sticky-header{
	position: fixed;
	top: 0;
	z-index: 10000;
	background-color: var(--background-color-light);
}

.admin-bar{
	.sticky-header{
		top: 32px;
	}
}

.arrow-menu-children {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

.flip {
	transform: rotate(180deg);
}

.swiper-slide{
	display: none;
}
