.archive.woocommerce {
	#primary {
		float: right;
		width: 75%;
		padding-left: 30px;
	}

	.site-content {
		padding-top: 60px;
	}
}

.catalog-header-banners {
	margin-bottom: 40px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;

	.swiper-wrapper {
		padding: 0;
		margin: 0;
		display: flex;

		.swiper-slide {
			list-style: none;
			display: block;
			text-align: center;
			font-size: 18px;
			background: #fff;
			flex-shrink: 0;
		}
	}

	.swiper-pagination {
		position: absolute;
		text-align: center;
		transition: 0.3s opacity;
		transform: translate3d(0, 0, 0);
		z-index: 10;

		.swiper-pagination-bullet {
			background-color: red;
			width: 1rem;
			height: 1rem;
			border-radius: 0.5rem;
			opacity: 1;
		}

		.swiper-pagination-bullet-active {
			background-color: blue;
			width: 1rem;
			height: 1rem;
			border-radius: 0.5rem;
		}
	}
}

.catalog {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.product-breadcrumb {
	.page-title {
		font-size: 32px;
		font-weight: 500;
		letter-spacing: 0em;
		text-align: left;
		padding-bottom: 7px;
		color: var(--color-dark);
		padding: 0;
	}

	nav {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
		color: var(--text-color-gray);
	}
}

.woocommerce-ordering {
	.orderby {
		border: 1px solid var(--border-color);
		padding: 12px 25px;
		min-width: 230px;
		color: var(--text-color-gray);

		&:hover {
			border: 1px solid var(--border-color-dark);
		}
	}
}

ul.products {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	padding: 0;
	position: relative;

	li.product {
		list-style: none;
		margin-bottom: 25px;
		padding: 0 15px;

		.product-thumbnail {
			position: relative;

			img {
				width: 100%;
				height: auto;
			}

			&:hover {
				.product-loop-button > a {
					opacity: 1;
				}
			}

			.product-loop-button {
				position: absolute;
				display: flex;
				justify-content: center;
				width: 100%;
				padding: 20px 0;
				bottom: 20px;
				transition: 0.35s;

				.woocommerce-loop-product__link {
					display: none;
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					background-color: #fff;
					border-radius: 100%;
					margin: 0 5px;
					opacity: 0;
					transform: translateY(10px);
					// position: relative;

					&.wc-forward {
						display: none;
					}

					&:hover {
						background-color: var(--color-primary);
						color: #fff;
						transition: 0.35s;
					}

					&:nth-child(3) {
						transition-delay: 75ms;
					}

					&:nth-child(4) {
						transition-delay: 150ms;
					}
					&:nth-child(5) {
						transition-delay: 150ms;
					}
				}
			}
		}
		.product-summary {
			padding-top: 20px;
			display: flex;
			flex-direction: column;

			.woocommerce-loop-product__title {
				color: var(--color-dark);
				margin: 0 0 3px;
				font-size: 16px;
			}

			.meta-cat {
				font-size: 14px;
				color: var(--text-color-gray);
			}
		}

		.woocommerce-loop-product__title {
			font-size: 20px;
			font-weight: 500;
			line-height: 1.33;
			margin: 5px 0px 3px 0px;
		}
	}
}

.price,
.woocommerce-grouped-product-list-item__price {
	color: var(--text-color-gray);
	font-size: 16px;
	font-weight: 500;
	// display: inline-block;

	ins {
		color: var(--color-primary);
		text-decoration: none;
	}

	del {
		font-size: 14px;
		color: #a6a6a6;
	}
}

.woocommerce-badges {
	position: absolute;
	left: 0;
	top: 20px;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;

	> span {
		padding: 5px 11px;
		line-height: 1;
		background-color: var(--background-color-dark);
		color: var(--color-lighter);
	}
}

.loading {
	&::before {
		content: "";
		opacity: 1;
		width: 16px;
		height: 16px;
		display: inline-block;
		border-radius: 50%;
		border: 2px solid;
		border-top-color: transparent;
		animation: spin 1s linear infinite;
	}

	.rz-icon-svg {
		display: none;
	}
}
