.sidebar {
	.wc-block-product-categories-list {
		position: relative;
	}

	ul {
		margin: 0 ;


		a {
			position: relative;

			&:hover {
				&::before {
					background-color: #1f1f1f;
				}

				&::after {
					opacity: 1;
				}
			}

			&::before {
				content: "";
				height: 18px;
				width: 18px;
				background-color: #e2e2e2;
				margin: 0px 14px 0 0;
				float: left;
				transition: 0.15s all ease-out;
			}

			&::after {
				transform: rotate(45deg);
				content: "";
				width: 5px;
				height: 9px;
				display: block;
				border: solid #fff;
				border-width: 0 2px 2px 0;
				position: absolute;
				top: 3px;
				left: -25px;
				opacity: 0;
			}
		}
	}

	.widget-title {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid var(--border-color-light);
		cursor: pointer;
		padding: 0 0 10px;
		font-size: 18px;
		font-weight: 500;
		color: var(--color-dark);
		margin: 0 0 35px;
		line-height: 1;
	}

	.woocommerce-widget-layered-nav-list{
		font-size: 16px;
		line-height: 24px;
		color: var(--text-color);
	}
}